@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid rgb(0, 110, 24);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 100px; /* Width is 100px */
  animation: pipe-animation 2s infinite linear;
}

.mario {
  width: 80px; /* Mario is smaller now */
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  position: absolute;
  width: 550px;
  animation: clouds-animation 30s infinite linear;
}

.game_over {
  color: #e41212;
  -webkit-text-stroke: 2px #000; /* Reduced slightly for better readability */
  text-align: center;
  position: absolute;
  left: 50%; /* Center alignment fixed */
  transform: translateX(-50%);
  top: 40%;
  font-size: 4rem;
  z-index: 10;
}

@keyframes pipe-animation {
  from {
    right: -100px; /* FIXED: Must match pipe width (100px) so it slides in smoothly */
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% { bottom: 0; }
  40% { bottom: 180px; }
  50% { bottom: 180px; }
  60% { bottom: 180px; }
  100% { bottom: 0; }
}

@keyframes clouds-animation {
  from { right: -550px; }
  to { right: 100%; }
}